<%= link_to 'Create an Album', new_album_path, :class => "btn btn-primary btn-large", :style =>"float:right;" %>


<header class="jumbotron subhead" id="overview">
  <h1>Your albums</h1>
  <p class="lead">We've included a few basic examples as starting points for your work with Bootstrap. We encourage folks to iterate on these examples and not simply use them as an end result.</p>
</header>

<ul class="thumbnails bootstrap-examples">
  <% @albums.each do |album| %>
    <li class="span4">
      <p class="thumbnail">
        <% album.photos[0..5].each do |p| %>      	
        	<%= link_to(image_tag(p.image.url(:thumb)), album, :class => "imgPopOver image-border", "data-original-title" => p.label, "data-content" => p.note, "data-placement"=>"bottom") %>      
        <% end %>
      </p>
      <h3><%= album.name %></h3>
      <p><%= album.location %></p>
      <p><%= album.description %></p>
    </li>
  <% end %>
</ul>

<script type="text/javascript">
  $('.imgPopOver').popover();
</script>
